.product {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.product__image {
  box-shadow: 0px 4px 8px -2px #1a0000;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.product__image-lens {
  z-index: 2;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product__tag {
  position: absolute;
  transform: rotate(45deg);
  font-size: 2.5em;
  color: red;
  top: 10px;
  right: 0;
}

.product__deal {
  position: absolute;
  top: 20px;
  font-size: 0.8em;
  font-weight: bold;
  right: 6px;
  z-index: 1;
}

.product__info {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 4px 8px -2px #1a0000;
}

.product__installments {
  color: #999999;
  font-weight: 400;
  font-size: 0.8em;
  margin-left: 10px;
}

.product__name {
  text-transform: uppercase;
  max-width: 230px;
  margin-bottom: 10px;
}

.product__price {
  font-weight: bold;
  font-size: 1.2em;
  color: red;
}

.product__normal-price {
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.product__color {
  font-weight: 400;
  margin-bottom: 15px;
  color: #999999;
}

.product__form {
  display: flex;
  flex-direction: column;
}

.product__form-title {
  font-size: 1em;
  margin-bottom: 10px;
}

.product__input__options {
  display: flex;
  flex-direction: row;
}

.product__input[type=radio] {
  display: none;
}

.product__input[type=radio] + .product__option {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  outline: none;
  width: 34px;
  line-height: 34px;
  text-align: center;
  height: 34px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product__input[type=radio]:hover + .product__option {
  border: 1px solid wheat;
}

.product__input[type=radio]:checked + .product__option {
  background: #1a0000;
  border: 1px solid wheat;
  color: wheat;
}

.product__error {
  color: red;
  font-size: 0.8em;
  top: 175px;
}

.product__button {
  border: none;
  border-radius: 4px;
  background: #1a0000;
  color: wheat;
  padding-top: 16px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  padding-bottom: 16px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 1px;
}

.product__button:hover {
  color: #1a0000;
  background: wheat;
  box-shadow: 1px 4px 8px -3px #1a0000;
}

@media(min-width: 370px) {
  .product {
    padding-top: 70px;
  }

  .product__name {
    max-width: 270px;
  }
}

@media(min-width: 425px) {
  .product {
    padding-top: 50px;
  }

  .product__name {
    max-width: 320px;
  }
}

@media(min-width: 768px) {
  .product {
    padding-top: 30px;
  }
}

@media(min-width: 1024px) {
  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }

  .product__image {
    width: 428px;
  }

  .product__name {
    max-width: 280px;
  }

  .product__info {
    width: 460px;
    height: 540px;
    margin-left: 10px;
    position: relative;
  }

  .product__card {
    width: 320px;
    height: 440px;
    margin: 20px auto;

  }

  .product__error {
    position: absolute;
    top: 300px;
  }

  .product__input__options {
    margin-bottom: 60px;
  }

  .product__form {
    margin-top: 60px;
  }

  .product__button {
    margin-top: 20px;
  }

  .product__price {
    margin-top: auto;
    margin-bottom: 10px;
  }
}

@media(min-width: 1313px) {
  .product__error {
    top: 490px;
  }
}

@media(min-width: 1440px) {
  .product {
    padding-top: 46px;
  }

  .product__image {
    width: 467px;
  }

  .product__name {
    font-size: 1.8em;
  }

  .product__info {
    width: 460px;
    height: 590px;
    margin-left: 10px;
  }

  .product__tag {
    font-size: 3.5em;
  }

  .product__deal {
    top: 26px;
    font-size: 1em;
  }

  .product__card {
    width: 400px;
    height: 500px;
    margin: 20px auto;
  }

  .product__error {
    top: 37 0px;
  }

  .product__form {
    margin-top: 60px;
  }

  .product__button {
    margin-top: 20px;
  }

  .product__price {
    font-size: 1.8em;
  }

  .product__normal-price {
    font-size: 1.2em;
  }

  .product__form-title {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .product__input__options {
    font-size: 1.5em;
  }

  .product__input[type=radio] + .product__option {
    width: 44px;
    line-height: 44px;
    height: 44px;
    margin-right: 16px;
    margin-bottom: 16px;
    }

  .product__button {
    border-radius: 4px;
    padding-top: 10px;
    font-size: 1.3em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}



