@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(223, 215, 215);
}

body, input, button {
  font: 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.container{
  background-color: rgb(231, 225, 225);
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 82.8vh;
  box-shadow: 0px 0px 20px 20px rgb(231, 225, 225);
}

@media(min-width: 760px) {
  .container {
    margin-top: 70px;
    max-width: 900px;
  }
}

@media(min-width: 1400px) {
  .container{
    max-width: 1200px;
    min-height: 81.5vh;
  }
}

