.modal {
  top: 120px;
  width: 100vw;
  height: 85vh;
  background-color: #fff;
  position: fixed;
  overflow: auto;
  z-index: 100;
}

.modal__header {
  background-color: wheat;
  box-shadow: 0px 0px 20px -1px rgb(245, 187, 79) inset;
  padding: 20px 12px;
  display: flex;
  align-items: center;
}

.modal__close-modal {
  position: absolute;
  border: none;
  color: black;
  font-size: 2em;
  background-color: transparent;
  left: 10px;
  top: 16px;
}

.modal__title {
  margin: 0 auto;
}

.modal__section-wrapper {
  min-height: 68vh;
}

.modal__section {
  padding: 20px 10px 0;
  color: #1a0000;
  text-decoration: none;
}

.modal__section-border {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
}

.modal__image {
  height: 100px;
  object-fit: cover;
  box-shadow: 1px 1px 4px #999999;
}

.modal__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 100px;
}

.modal__product-name {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
}

.modal__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.modal__price-wrapper {
  height: 40px;
}

.modal__installments {
  color: #999999;
  font-size: 0.8em;
  margin-top: 8px;
}

.modal__button {
  font-size: 0.7em;
  padding: 4px;
  background-color: wheat;
  box-shadow: 0px 0px 10px -2px rgb(245, 187, 79) inset;
  color: #999999;
  font-weight: bold;
  border: 1px solid #999999;
}

.modal__button:hover {
  background: red;
  color: black;
}

.modal__count-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  background-color: #f0eaea;
}

.modal__add:hover, .modal__remove:hover {
  background: #1a0000;
  color: wheat;
}

.modal__add, .modal__remove {
  padding: 6px 12px;
  font-weight: bold;
  background-color: wheat;
  box-shadow: 0px 0px 10px -2px rgb(245, 187, 79)inset;
  color: #999999;
  border: 1px solid #999999;
}

.modal__footer {
  padding: 20px 12px;
  background: #1a0000;
}

.modal__total-value {
  color: wheat;
  text-align: center;
}

.modal__empty {
  margin-top: 30vh;
  text-align: center;
  opacity: 0.2;
  font-weight: normal;
  font-size: 1.2em;
}

@media(min-width: 375px) {
  .modal {
    top: 130px;
    height: 90vh;
  }

  .modal__button {
    padding: 6px;
    font-size: 1em;
  }
}

@media(min-width: 425px) {
  .modal {
    top: 114px;
  }
}

@media(min-width: 760px) {
  .modal {
    top: 70px;
    height: 91vh;
  }
  .modal__section-wrapper {
    min-height: 75vh;
  }

}

@media(min-width: 1024px) {
  .modal {
    z-index: 2;
    top: 2px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 110vh;
  }

  .modal__wrapper {
    position: fixed;
    height: 82vh;
    overflow: auto;
    background-color: #fff;
    width: 400px;
    top: 76px;
    right: 0;
  }

  .modal__empty {
    margin-top: 30vh;
    text-align: center;
    opacity: 0.2;
    font-weight: normal;
    font-size: 1.2em;
  }

  .modal__section-wrapper {
    min-height: 66.5vh;
  }
}

@media(min-width: 1440px) {
  .modal__header {
   margin-top: 32px;
  }

  .modal__close-modal {
    font-size: 2em;
    top: 50px;
  }

  .modal__wrapper {
    height: 81vh;
    width: 600px;
  }

  .modal__section-wrapper {
    min-height: 63vh;
  }

  .modal__image {
    height: 150px;
  }

  .modal__title {
    font-size: 1.6em;
  }

  .modal__product-name {
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }

  .modal__price {
    font-size: 1.3em;
  }

  .modal__info {
    width: 200px;
    height: 150px;
  }

  .modal__price {
    height: 150px;
  }

  .modal__installments {
    margin-top: 18px;
  }

  .modal__button {
    font-size: 0.9em;
    padding: 6px;
  }

  .modal__count-button {
    width: 140px;
  }

  .modal__add, .modal__remove {
    padding: 8px 14px;
  }

  .modal__total-value {
    font-size: 1.4em;
    letter-spacing: 1.5px;
  }

  .modal__empty {
    opacity: 0.3;
    font-size: 1.5em;
  }

}
