.footer {
  background-color: #1a0000;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__text {
  text-align: center;
  color: wheat;
  margin-bottom: 8px;
}

.footer__icons {
  color: wheat;
  margin: 0 8px;
}

.footer__icons--twitter:hover {
	color: #1DA1F2;
	transition: 500ms;
}

.footer__icons--facebook:hover {
	color: #4267B2;
	transition: 500ms;
}

.footer__icons--instagram:hover {
	color: #E1306C;
	transition: 500ms;
}

@media(min-width: 1440px) {
  .footer__text {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer__icons {
    font-size: 1.5em;
  }
}
